<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <context-param>
        <param-name>contextConfigLoaction</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>gz.aws.ioc.BeanListener</listener-class>
    </listener>
    <listener>
        <listener-class>gz.aws.common.AdminGenerateListener</listener-class>
    </listener>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Safe</filter-name>
        <filter-class>gz.aws.common.SafeFilter</filter-class>
        <init-param>
            <param-name>on</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>excludes</param-name>
            <param-value>index.jsp,analytics.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>UserServiceFilter</filter-name>
        <filter-class>gz.aws.blog.user.UserServiceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>gz.aws.common.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserServiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Safe</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <servlet>
        <servlet-name>Serve</servlet-name>
        <servlet-class>gz.aws.blog.file.Serve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>gz.aws.blog.file.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>gz.aws.blog.file.FileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serve</servlet-name>
        <url-pattern>/servlet/serve</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/servlet/file_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/servlet/file_download</url-pattern>
    </servlet-mapping>
    <!--<security-constraint>-->
    <!--<web-resource-collection>-->
    <!--<web-resource-name>blog admin resouce</web-resource-name>-->
    <!--<url-pattern>/blog/admin/*</url-pattern>-->
    <!--</web-resource-collection>-->
    <!--<web-resource-collection>-->
    <!--<web-resource-name>admin mail</web-resource-name>-->
    <!--<url-pattern>/mail/*</url-pattern>-->
    <!--</web-resource-collection>-->
    <!--<web-resource-collection>-->
    <!--<web-resource-name>admin mail</web-resource-name>-->
    <!--<url-pattern>/cron/*</url-pattern>-->
    <!--</web-resource-collection>-->
    <!--<web-resource-collection>-->
    <!--<web-resource-name>system</web-resource-name>-->
    <!--<url-pattern>/sys/*</url-pattern>-->
    <!--</web-resource-collection>-->
    <!--<auth-constraint>-->
    <!--<role-name>admin</role-name>-->
    <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <welcome-file-list>
        <welcome-file>index.action</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/errors/servererror.jsp</location>-->
    <!--</error-page>-->
</web-app>
